stages:
  - build
  - test
  - release

variables:
  DOCKER_HUB_REPO: ccoley/iperf



.build:
  stage: build
  tags: [docker]
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: ['']
  script:
    - >-
      /kaniko/executor
      --cache=false
      --skip-unused-stages
      --target ${BUILD_TARGET}
      --context "${CI_PROJECT_DIR}"
      --dockerfile "${CI_PROJECT_DIR}/Dockerfile"
      --destination "${CI_REGISTRY_IMAGE}:${CI_COMMIT_SHORT_SHA}-${BUILD_TARGET}"
      --label org.opencontainers.image.authors="$LABEL_AUTHORS"
      --label org.opencontainers.image.created="$(date -u -Iseconds)"
      --label org.opencontainers.image.revision="$CI_COMMIT_SHA"
      --label org.opencontainers.image.source="$CI_PROJECT_URL"

build:iperf2:
  extends: .build
  variables:
    BUILD_TARGET: iperf2

build:iperf3:
  extends: .build
  variables:
    BUILD_TARGET: iperf3



.test:
  stage: test
  tags: [docker]
  image:
    name: alpine:3
    entrypoint: ['']
  services:
    - name: ${CI_REGISTRY_IMAGE}:${CI_COMMIT_SHORT_SHA}-${BUILD_TARGET}
      alias: iperf-container
  before_script:
    - apk add --no-cache iperf iperf3

test:iperf2:
  extends: .test
  needs: ['build:iperf2']
  variables:
    BUILD_TARGET: iperf2
  script:
    - iperf -c iperf-container -p 5001 -b 10M -i 1
    # iperf always has a truthy exit code, so we have to grep for output instead
    - iperf -c iperf-container -p 5001 -b 10M | grep ' Mbits/sec'

test:iperf3:
  extends: .test
  needs: ['build:iperf3']
  variables:
    BUILD_TARGET: iperf3
  script:
    - iperf3 -c iperf-container -p 5201 --connect-timeout 10000 -b 10M



.release:
  stage: release
  tags: [docker]
  image:
    name: gcr.io/go-containerregistry/crane:debug
    entrypoint: ['']
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  before_script:
    - crane auth login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
    - crane auth login -u "$DOCKER_HUB_USERNAME" -p "$DOCKER_HUB_TOKEN" index.docker.io

release:iperf2:
  extends: .release
  needs: ['test:iperf2']
  script:
    - crane tag ${CI_REGISTRY_IMAGE}:${CI_COMMIT_SHORT_SHA}-iperf2 2.2
    - crane tag ${CI_REGISTRY_IMAGE}:${CI_COMMIT_SHORT_SHA}-iperf2 2
    - crane copy ${CI_REGISTRY_IMAGE}:${CI_COMMIT_SHORT_SHA}-iperf2 ${DOCKER_HUB_REPO}:2.2
    - crane tag ${DOCKER_HUB_REPO}:2.2 2

release:iperf3:
  extends: .release
  needs: ['test:iperf3']
  script:
    - crane tag ${CI_REGISTRY_IMAGE}:${CI_COMMIT_SHORT_SHA}-iperf3 3.19
    - crane tag ${CI_REGISTRY_IMAGE}:${CI_COMMIT_SHORT_SHA}-iperf3 3
    - crane copy ${CI_REGISTRY_IMAGE}:${CI_COMMIT_SHORT_SHA}-iperf3 ${DOCKER_HUB_REPO}:3.19
    - crane tag ${DOCKER_HUB_REPO}:3.19 3

# vi: set ts=2 sw=2 et ft=yaml:
